@import '../../../style/variable.less';

.pssp-layout-menu {
  position: relative;
  height: 100%;

  font-size: 14px;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    
    background-color: #e8e8e8;
    transform: scaleX(0.5);
    z-index: @z-background;
  }

  ul {
    position: relative;
    margin-right: -0.2px;

    overflow: hidden;
    transition: all .2s;
    z-index: @z-background-top;
  }

  .menu-name,
  .menu-item {
    height: 40px;
    padding-left: 48px;

    line-height: 40px;
    cursor: pointer;

    &:hover {
      color: #1890ff;
    }
  }

  .arrow {
    margin-left: 50px;

    font-size: 16px;
    transition: all 0.1s;
  }

  .up-arrow {
    transform: rotate(180deg);
  }

  .menu-name:not(.have-child-node),
  .menu-item {
    &.checked {
      color: #1890ff;
      border-right: 3px solid currentColor;
      background-color: #e6f7ff;
    }
  }
}
