@import '../../../style/variable.less';

.@{prefix}-layout-menu {
  position: relative;
  height: 100%;

  font-size: 14px;
  user-select: none;

  ul {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: -0.2px;

    flex-direction: column;
    overflow: hidden;
    transition: all .2s;
    z-index: @z-background-top;
  }

  .vertical {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      
      background-color: #e8e8e8;
      transform: scaleX(0.5);
      z-index: @z-background;
    }
    
    .menu-name,
    .menu-item {
      position: relative;
      height: 40px;
      padding: 0 24px;

      line-height: 40px;

      &:hover {
        color: #1890ff;
      }
    }

    .menu-name:not(.have-child-node),
    .menu-item {
      &.checked {
        color: #1890ff;
        box-shadow: inset -3px 0 currentColor;
        background-color: #e6f7ff;
      }
    }

    .arrow {
      position: absolute;
      right: 6px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  .horizontal {
    flex-direction: row;

    .menu-name,
    .menu-item {
      height: 40px;
      padding: 0 12px;

      line-height: 40px;
      background-color: #fff;

      &:hover {
        color: #1890ff;
      }
    }

    .menu-name:not(.have-child-node),
    .menu-item {
      &.checked {
        color: #fff;
        background-color: #1890ff;
      }
    }

    .arrow {
      margin-left: 8px;
    }

    ul {
      .menu-item {
        margin-right: 12px;
      }
    }
  }

  .menu-name,
  .menu-item {
    cursor: pointer;
  }

  .arrow {
    font-size: 16px;
    transition: all 0.1s;
  }

  .up-arrow {
    transform: rotate(180deg);
  }
}
